In [15]:
import geopandas as gpd 
import pandas as pd

In [16]:
cities = ["charleroi", "liege", "mons", "namur", "tournai"]
every = pd.DataFrame()
for city in cities:
    df = gpd.read_file(f"../assets/selection/{city}_sel_centroid.json")
    df2 = df.groupby("tx_sector_descr_fr")["raster_value"].median()
    test = pd.merge(df, df2, on='tx_sector_descr_fr')
    test.to_file(f"../data/centroids/{city}_sel_centroid.json", driver="GeoJSON")
    test["city"] = city
    every = pd.concat([every, test], ignore_index=True)

every.to_file(f"../data/centroids/every_city.json", driver="GeoJSON")
every

,centroid_lon,centroid_lat,raster_value_x,tx_sector_descr_fr,REVENU_MOYEN,REVENU_MEDIAN,NOMBRE_HAB,DENSITE_PAR_HECTARE,ms_area_ha,geometry,raster_value_y,city
0,4.456542,50.491876,37.191654,ROBESSE,22419.0,19330.0,161,79.722541,79.721251,POINT (4.45654 50.49188),34.182514,charleroi
1,4.458339,50.491876,35.840679,ROBESSE,22419.0,19330.0,161,79.722541,79.721251,POINT (4.45834 50.49188),34.182514,charleroi
2,4.454745,50.490733,35.779156,ROBESSE,22419.0,19330.0,161,79.722541,79.721251,POINT (4.45475 50.49073),34.182514,charleroi
3,4.456542,50.490733,38.166214,ROBESSE,22419.0,19330.0,161,79.722541,79.721251,POINT (4.45654 50.49073),34.182514,charleroi
4,4.458339,50.490733,34.960114,ROBESSE,22419.0,19330.0,161,79.722541,79.721251,POINT (4.45834 50.49073),34.182514,charleroi
...,...,...,...,...,...,...,...,...,...,...,...,...
43422,3.294122,50.570677,32.832821,MARECHE,22512.0,14688.0,50,12.608614,12.608415,POINT (3.29412 50.57068),33.780216,tournai
43423,3.290529,50.569536,34.821507,MARECHE,22512.0,14688.0,50,12.608614,12.608415,POINT (3.29053 50.56954),33.780216,tournai
43424,3.290529,50.568395,34.002590,MARECHE,22512.0,14688.0,50,12.608614,12.608415,POINT (3.29053 50.56840),33.780216,tournai
43425,3.290529,50.567254,33.780216,MARECHE,22512.0,14688.0,50,12.608614,12.608415,POINT (3.29053 50.56725),33.780216,tournai
43426,3.290529,50.566113,34.013245,MARECHE,22512.0,14688.0,50,12.608614,12.608415,POINT (3.29053 50.56611),33.780216,tournai